@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik/rubik.ttf');
}
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}
svg {
  width: 24px;
  height: 24px;
}
.search1 {
  position: relative;
  height: 40px;
}
.search1:hover .button {
  display: block;
}
.button {
  border: 0px solid;
  background: none;
  position: relative;
  top: -30px;
  left: 75%;
  font-size: 18px;
  width: 15px;
  outline: none;
  cursor: pointer;
  display: none;
}
.enter {
  color: lightgreen;
  font-size: 14px;
  top: -29px;
  font-weight: bold;
}
.reset {
  color: red;
  position: relative;
  top: -50px;
  left: 82%;
  font-weight: bold;
  float: none;
}
.container {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0px;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  color: #424a59;
}
.container.open-sidebar {
  left: 190px;
}
#sidebar {
  position: absolute;
  top: 50px;
  left: -230px;
  background: #2d323e;
  width: 280px;
  height: 100%;
  box-sizing: border-box;
  margin-top: -50px;
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#sidebar ul li {
  margin: 0;
}
#sidebar ul li a {
  padding: 14.3px 100px;
  font-size: 16px;
  color: #bdbec2;
  text-decoration: none;
  display: block;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
  background: #292d38;
}
#sidebar ul li:first-child {
  background-color: #373c47;
  padding: 18px;
  padding-left: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
button {
  border: none;
}
.main-content #sidebar-toggle {
  background: #2d323e;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  margin: 10px 0 0 10px;
}
.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #aeb0b4;
  border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child {
  margin-bottom: 0;
}
.main-icons {
  position: relative;
}
.main-icons ul {
  float: left;
  background: #2d323e;
  margin-top: -9px;
  position: relative;
  z-index: 100;
}
.main-icons li {
  margin-left: -38px;
  padding: 10px;
}
.main-icons li:hover {
  background-color: #292d38;
}
.head {
  width: 100%;
  height: 57px;
}
header {
  margin: 10px 0 0 80px;
}
header h1 {
  float: left;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  color: #424a59;
}
header svg {
  position: absolute;
  right: 145px;
  z-index: 6;
  top: 12px;
}
header input {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  padding: 5px 30px 5px 5px;
  z-index: 5;
  top: 10px;
  left: 75%;
  color: #424a59;
}
header a {
  position: relative;
  z-index: 1;
  left: 83%;
  top: -10px;
}
header a .img {
  position: relative;
  z-index: 1;
  top: 5px;
  width: 45px;
  height: 35px;
}
.content1 {
  margin-top: 10px;
  background-color: #f2f5f9;
  height: auto;
  width: 100%;
}
.content1 .content {
  padding: 25px 0 30px 40px;
  width: 93%;
  margin: 0 auto;
}
.content1 .content .block ul {
  padding: 0;
}
.content1 .content .block ul li:first-child {
  vertical-align: top;
  margin: 8px;
  padding: 7px 5px;
  background-color: #208abe;
  color: #fff;
}
.content1 .content .block ul li:first-child p {
  float: left;
  width: 65%;
  font-size: 12px;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 20px;
}
.content1 .content .first-block {
  width: 16.5%;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 550px;
}
.content1 .content .first-block:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content1 .content .first-block input {
  margin-left: 9px;
  border: 0px solid;
  padding: 10px 30px 10px 10px;
  min-width: 27%;
  max-width: 72%;
  font-family: 'Roboto', sans-serif;
  color: #424a59;
  line-height: 20px;
}
.content1 .content .first-block ul li .block-name {
  background-color: #fff;
  width: 92%;
  margin: 10px 8px;
  height: 120px;
}
.content1 .content .first-block ul li .block-name .color {
  border-radius: 50px;
  height: 4px;
  width: 33px;
  margin: 10px 6px;
  float: left;
  background-color: #8edc87;
}
.content1 .content .first-block ul li .block-name .color:first-child {
  background-color: #df5b5b;
}
.content1 .content .first-block ul li .block-name .color:nth-child(2) {
  background-color: #f1c752;
}
.content1 .content .first-block ul li .block-name .color:last-child {
  background-color: #8edc87;
  border: 1px solid;
}
.content1 .content .first-block ul li .block-name h5 {
  clear: both;
  width: 100px;
  padding: 0px 10px;
  color: #4f5664;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}
.content1 .content .first-block ul li .block-name img {
  border-radius: 50px;
  margin-top: 10px;
  width: 20px;
  height: auto;
}
.content1 .content .first-block ul li .block-name img:hover {
  opacity: .5;
}
.content1 .content .first-block ul li .block-name .line {
  width: 75%;
  height: 5px;
  background-color: #e7e9ee;
  border-radius: 50px;
  margin: 10px 7px;
  float: left;
}
.content1 .content .first-block ul li .block-name .count {
  margin-top: 5px;
  font-weight: 100;
  font-size: 13px;
  color: #7a8392;
  font-family: 'Rubik', sans-serif;
}
.content1 .content .first-block ul li .block-name .half {
  background-color: #e7e9ee;
  width: 73%;
  height: 5px;
  left: 10px;
  position: relative;
  top: 10px;
}
.content1 .content .first-block ul li .block-name .half .line h6 {
  background-color: #8ddc86;
  position: relative;
  z-index: 1;
  top: -10px;
  left: -10px;
  width: 70px;
}
.content1 .content .first-block ul li .block-name .rank {
  margin-left: 82%;
}
.content1 .content .first-block ul li .files {
  border-top: 1px solid #e7e9ee;
  margin-top: -10px;
  margin-left: 4%;
  width: 92%;
  background-color: #fff;
  height: 40px;
}
.content1 .content .first-block ul li .files a svg {
  float: left;
  margin: 10px 0px;
}
.content1 .content .first-block ul li .files a svg:hover {
  opacity: .8;
}
.content1 .content .first-block ul li .files a span {
  margin-top: 15px;
  font-size: 12px;
  margin-left: 7px;
  font-weight: 100;
  font-family: 'Rubik', sans-serif;
  color: #424a59;
}
.content1 .content .second-block {
  float: left;
  width: 16.5%;
}
.content1 .content .second-block:hover {
  overflow-x: hidden;
  overflow-y: hidden;
}
.content1 .content .second-block ul li .block-name div:first-child {
  background-color: #f1c752;
}
.content1 .content .second-block ul li .block-name .number {
  position: relative;
  border: 1px solid;
  border-radius: 50px;
  color: #8ddc86;
  top: -5px;
  padding: 1px 3px;
  margin: 7px 7px;
}
.content1 .content .second-block ul li .block-name .number span {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.content1 .content .third-block {
  float: left;
  width: 16.5%;
}
.content1 .content .third-block:hover {
  overflow-x: hidden;
  overflow-y: hidden;
}
.content1 .content .third-block ul li .block-name div:first-child {
  background-color: #8ddc86;
}
.content1 .content .third-block ul li .block-name div:nth-child(2) {
  background-color: #7db6fd;
}
.content1 .content .third-block ul li .block-name .number {
  border-radius: 50px;
  color: #8ddc86;
  padding: 1px 3px;
  position: relative;
  top: -5px;
  border: 1px solid;
  margin: 7px 7px;
}
.content1 .content .third-block ul li .block-name .number span {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.content1 .content .third-block ul li .block-name label {
  width: 170px;
  position: absolute;
  margin: 30px 0px 0px -125px;
}
.content1 .content .third-block ul li .block-name label input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 5px;
  min-width: 11%;
  height: 10px;
  border: 0px solid rgba(0, 0, 0, 0.3);
  outline: none;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #8edc87;
  padding: 10px;
}
.content1 .content .third-block ul li .block-name label input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 5px;
  height: 14px;
  border: 0 solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  margin: -10px -3px;
  pointer-events: none;
}
.content1 .content .third-block ul li .block-name label span {
  margin: 12px 0 0 5px;
  position: absolute;
  font-size: 12px;
  width: 150px;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}
.content1 .content .third-block ul li .block-name label:last-child {
  margin-top: 60px;
}
.content1 .content .third-block ul li .block-name2 {
  height: 150px;
}
.content1 .content .third-block ul li .block-name2 label {
  width: 14%;
}
.content1 .content .third-block ul li .block-name2 label span {
  width: 95%;
}
.content1 .content .fourth-block {
  float: left;
  width: 16.5%;
  overflow-y: hidden;
  overflow-x: hidden !important;
  height: 550px;
}
.content1 .content .fourth-block:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content1 .content ::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
.content1 .content ::-webkit-scrollbar-track {
  background-color: #f2f5f9;
}
.content1 .content ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #d6d7db;
}
.content1 .content ::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}
.content1 .content ::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.content1 .content ::-webkit-scrollbar {
  width: 4px;
}
.content1 .content .fiveth-block {
  float: left;
  width: 16.5%;
}
.content1 .content .fiveth-block:hover {
  overflow-x: hidden;
  overflow-y: hidden;
}
.content1 .content .fiveth-block ul li .block-name .number {
  position: relative;
  border: 1px solid;
  border-radius: 50px;
  color: #8ddc86;
  top: -5px;
  padding: 1px 3px;
  margin: 7px 7px;
}
.content1 .content .fiveth-block ul li .block-name .number span {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.content1 .content .sixth-block {
  float: left;
  width: 16.5%;
}
.content1 .content .sixth-block:hover {
  overflow-x: hidden;
  overflow-y: hidden;
}
.content1 .content .sixth-block ul li .block-name div:first-child {
  background-color: #8ddc86;
}
.content1 .content .sixth-block ul li .block-name div:nth-child(2) {
  background-color: #7db6fd;
}
.content1 .content .sixth-block ul li .block-name .number {
  position: relative;
  margin: 7px 7px;
  border: 1px solid;
  top: -5px;
  border-radius: 50px;
  color: #8ddc86;
  padding: 1px 3px;
}
.content1 .content .sixth-block ul li .block-name .number span {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.content1 .content .sixth-block ul li .block-name label {
  width: 170px;
  position: absolute;
  margin: 30px 0px 0px -125px;
}
.content1 .content .sixth-block ul li .block-name label input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 5px;
  min-width: 11%;
  height: 10px;
  border: 0px solid rgba(0, 0, 0, 0.3);
  outline: none;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #8edc87;
  padding: 10px;
}
.content1 .content .sixth-block ul li .block-name label input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 5px;
  height: 14px;
  border: 0 solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  margin: -10px -3px;
  pointer-events: none;
}
.content1 .content .sixth-block ul li .block-name label span {
  margin: 12px 0 0 5px;
  position: absolute;
  font-size: 12px;
  width: 150px;
  font-family: 'Roboto', sans-serif;
}
.content1 .content .sixth-block ul li .block-name label:last-child {
  margin-top: 60px;
}
.content1 .content .sixth-block ul li .block-name2 {
  height: 150px;
}
.content1 .content .sixth-block ul li .block-name2 label span {
  width: 95%;
}
@media screen and (min-width: 1721px) and (max-width: 1920px) {
  .head header svg {
    display: none;
  }
  .content1 {
    height: 920px;
  }
  .content1 .content .first-block {
    width: 16.5%;
    overflow: hidden;
    height: 100%;
  }
  .content1 .content .fourth-block {
    width: 16.5%;
    overflow: hidden;
    height: 860px;
  }
}
@media screen and (min-width: 1501px) and (max-width: 1720px) {
  .head header svg {
    display: none;
  }
  .content1 {
    height: 950px;
  }
  .content1 .content .first-block {
    width: 16.5%;
    overflow: hidden;
    height: 100%;
  }
  .content1 .content .fourth-block {
    width: 16.5%;
    overflow: hidden;
    height: 900px;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  .head header svg {
    display: none;
  }
  .content1 {
    height: 950px;
  }
  .content1 .content .first-block {
    width: 16.5%;
    float: left;
    overflow: hidden;
    height: 550px;
  }
  .content1 .content .first-block:hover {
    overflow: scroll;
  }
  .content1 .content .fourth-block {
    height: 900px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .container {
    left: 190px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1326px) {
  .head header svg {
    display: none;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1196px) {
  .head header svg {
    display: none;
  }
  .head header input {
    left: 72%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
  .enter {
    color: lightgreen;
    float: left;
    font-size: 14px;
    top: -25px;
  }
  .reset {
    color: red;
    top: -25px;
  }
  .container {
    position: relative;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -ms-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .container.open-sidebar {
    left: 0px;
    top: 100px;
  }
  #sidebar {
    position: absolute;
    top: -120px;
    left: 0px;
    background: #2d323e;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: -10px;
  }
  #sidebar ul {
    margin: 9px 0 0 15%;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  #sidebar ul li {
    margin: 0;
    display: inline-block;
    margin-left: 0px;
  }
  #sidebar ul li a {
    padding: 10px 40px;
    width: 50px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  #sidebar ul li a:hover {
    border-bottom: 2px solid #e2715c;
  }
  #sidebar ul li:hover a {
    background: #292d38;
  }
  #sidebar ul li:first-child {
    display: none;
  }
  .main-content #sidebar-toggle {
    position: fixed;
    z-index: 7;
    padding: 10px 7px;
    margin: -65px 0 0 17px;
  }
  .main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #aeb0b4;
    border-radius: 1px;
  }
  .main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
  }
  .main-icons {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .search1 {
    height: 30px;
  }
  .container {
    position: relative;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -ms-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .container.open-sidebar {
    left: 0px;
    top: 100px;
  }
  #sidebar {
    position: absolute;
    top: -120px;
    left: 0px;
    background: #2d323e;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: -10px;
  }
  #sidebar ul {
    margin: 9px 0 0 15%;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  #sidebar ul li {
    margin: 0;
    display: inline-block;
    margin-left: 0px;
  }
  #sidebar ul li a {
    padding: 10px 30px;
    width: 50px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  #sidebar ul li a:hover {
    border-bottom: 2px solid #e2715c;
  }
  #sidebar ul li:hover a {
    background: #292d38;
  }
  #sidebar ul li:first-child {
    display: none;
  }
  .main-content #sidebar-toggle {
    position: fixed;
    z-index: 7;
    padding: 10px 7px;
    margin: -65px 0 0 15px;
  }
  .main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #aeb0b4;
    border-radius: 1px;
  }
  .main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
  }
  .main-icons {
    display: none;
  }
}
@media screen and (min-width: 525px) and (max-width: 767px) {
  .search1 {
    height: 30px;
  }
  .container {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    top: 0px;
    left: 0;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -ms-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .container.open-sidebar {
    left: 0px;
    top: 100px;
  }
  #sidebar {
    position: absolute;
    top: -120px;
    left: 0px;
    background: #2d323e;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: -10px;
  }
  #sidebar ul {
    margin: 9px 0 0 10%;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  #sidebar ul li {
    margin: 0;
    display: inline-block;
    margin-left: 0px;
  }
  #sidebar ul li a {
    padding: 10px 20px;
    width: 50px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  #sidebar ul li a:hover {
    border-bottom: 2px solid #e2715c;
  }
  #sidebar ul li:hover a {
    background: #292d38;
  }
  #sidebar ul li:first-child {
    display: none;
  }
  .main-content #sidebar-toggle {
    position: fixed;
    z-index: 7;
    padding: 10px 7px;
    margin: -65px 0px 0px 15px;
  }
  .main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #aeb0b4;
    border-radius: 1px;
  }
  .main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
  }
  .main-icons {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 524px) {
  .search1 {
    height: 35px;
  }
  .container {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    top: 0px;
    left: 0;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -ms-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .container.open-sidebar {
    left: 0px;
    top: 100px;
  }
  #sidebar {
    position: absolute;
    top: -120px;
    left: 0px;
    background: #2d323e;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: -10px;
  }
  #sidebar ul {
    margin-top: 11px;
    text-align: center;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  #sidebar ul li {
    margin: 0;
    display: inline-block;
    margin-left: 0px;
  }
  #sidebar ul li a {
    padding: 10px 0px;
    font-size: 14px;
    width: 55px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  #sidebar ul li a:hover {
    border-bottom: 2px solid #e2715c;
  }
  #sidebar ul li:hover a {
    background: #292d38;
  }
  #sidebar ul li:first-child {
    display: none;
  }
  .main-content #sidebar-toggle {
    position: fixed;
    z-index: 7;
    padding: 10px 7px;
    margin: -65px 0px 0px 15px;
  }
  .main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #aeb0b4;
    border-radius: 1px;
  }
  .main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
  }
  .main-icons {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1302px) {
  .content1 .content .first-block input {
    font-size: 10px;
  }
  .content1 .content .first-block ul li:first-child p {
    width: 65%;
    font-size: 10px;
  }
  .content1 .content .first-block ul li:first-child a svg {
    width: 18px;
    height: 18px;
  }
  .content1 .content .first-block input {
    margin-left: 9px;
    padding: 8px;
    min-width: 10%;
    max-width: 90%;
    width: 82%;
  }
  .content1 .content .first-block ul li .block-name img {
    width: 15px;
    height: auto;
  }
  .content1 .content .first-block ul li .block-name .number {
    border: none;
  }
  .content1 .content .first-block ul li .block-name .number span {
    border: 1px solid;
    border-radius: 50px;
    padding: 2px;
    font-size: 8px;
  }
  .content1 .content .first-block ul li .block-name .line {
    width: 70%;
  }
  .content1 .content .third-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 label span {
    width: 95%;
    font-size: 11px;
  }
  .content1 .content .third-block ul li .block-name2 input {
    margin-left: 20%;
    padding: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label span {
    width: 95%;
    font-size: 11px;
  }
  .content1 .content .sixth-block ul li .block-name2 input {
    margin-left: 20%;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1034px) {
  .number {
    display: none;
  }
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
  body {
    background-color: #eeeeee;
  }
  .head {
    background-color: #2d323e;
    position: relative;
    top: -15px;
  }
  header {
    margin: 15px 0 0 80px;
  }
  header h1 {
    margin-top: 10px;
  }
  header p {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #eeeeee;
  }
  header svg {
    display: none;
  }
  header input {
    position: absolute;
    background-color: #424a59;
    border: 0px solid;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    padding: 5px;
    z-index: 5;
    right: 150px;
    top: 13px;
    left: 65%;
  }
  header a {
    position: absolute;
    z-index: 1;
    right: 110px;
    top: 15px;
  }
  header a .img {
    position: absolute;
    z-index: 1;
    right: -15px;
    top: -7px;
  }
  .content1 {
    background-color: #eeeeee;
  }
  .content1 .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content1 .content .first-block .search1 {
    height: 40px;
  }
  .content1 .content .first-block input {
    font-size: 10px;
  }
  .content1 .content .first-block ul li:first-child p {
    width: 65%;
    font-size: 10px;
  }
  .content1 .content .first-block ul li:first-child a svg {
    width: 18px;
    height: 18px;
  }
  .content1 .content .first-block input {
    margin-left: 8.5px;
    padding: 8px;
    min-width: 10%;
    max-width: 90%;
    width: 81.5%;
  }
  .content1 .content .first-block ul li .block-name img {
    width: 15px;
  }
  .content1 .content .first-block ul li .block-name .number {
    border: none;
  }
  .content1 .content .first-block ul li .block-name .number span {
    border: 1px solid;
    border-radius: 50px;
    padding: 3px;
    font-size: 12px;
  }
  .content1 .content .first-block ul li .block-name .line {
    width: 70%;
  }
  .content1 .content .first-block ul li .files {
    margin-left: 5%;
  }
  .content1 .content .third-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 label span {
    width: 95%;
    font-size: 11px;
  }
  .content1 .content .third-block ul li .block-name2 input {
    margin-left: 20%;
    padding: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label span {
    width: 95%;
    font-size: 11px;
  }
  .content1 .content .sixth-block ul li .block-name2 input {
    margin-left: 20%;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  body {
    background-color: #eeeeee;
  }
  .head {
    background-color: #2d323e;
    position: relative;
    top: -15px;
  }
  header {
    margin: 15px 0 0 80px;
  }
  header h1 {
    margin-top: 10px;
  }
  header p {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #eeeeee;
  }
  header svg {
    position: absolute;
    right: 150px;
    z-index: 6;
    display: none;
  }
  header input {
    position: absolute;
    background-color: #424a59;
    border: 0px solid;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    padding: 5px;
    z-index: 5;
    top: 13px;
    left: 61%;
  }
  header a {
    position: absolute;
    z-index: 1;
    right: 150px;
    top: 15px;
  }
  header a .img {
    position: absolute;
    z-index: 1;
    right: -80px;
    top: -7px;
  }
  .content1 {
    background-color: #eeeeee;
  }
  .content1 .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content1 .content .first-block ul li:first-child {
    width: 85.5%;
  }
  .content1 .content .first-block ul li:first-child p {
    width: 60%;
    font-size: 9px;
    line-height: 12px;
  }
  .content1 .content .first-block ul li:first-child a svg {
    width: 18px;
    height: 18px;
  }
  .content1 .content .first-block input {
    margin-left: 8px;
    outline: none;
    border: 0px solid;
    font-size: 10px;
    padding: 8px;
    min-width: 10%;
    max-width: 90%;
    width: 81%;
  }
  .content1 .content .first-block ul li .block-name .color {
    width: 20px;
    margin: 10px 3px;
  }
  .content1 .content .first-block ul li .block-name img {
    width: 15px;
  }
  .content1 .content .first-block ul li .block-name h5 {
    font-size: 11px;
  }
  .content1 .content .first-block ul li .block-name .number {
    border: none;
  }
  .content1 .content .first-block ul li .block-name .number span {
    border: 1px solid;
    border-radius: 50px;
    padding: 3px;
    font-size: 10px;
    display: none;
  }
  .content1 .content .first-block ul li .block-name span {
    line-height: 12px;
  }
  .content1 .content .first-block ul li .block-name .line {
    width: 65%;
  }
  .content1 .content .first-block ul li .files {
    margin-left: 8px;
  }
  .content1 .content .first-block ul li .files a svg {
    width: 18px;
    height: 18px;
  }
  .content1 .content .third-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 label span {
    width: 85%;
    font-size: 10px;
    line-height: 14px;
  }
  .content1 .content .third-block ul li .block-name2 input {
    margin-left: 22%;
    padding: 10px;
  }
  .content1 .content .fourth-block {
    width: 17%;
  }
  .content1 .content .sixth-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label span {
    width: 85%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 input {
    margin-left: 22%;
    padding: 10px;
  }
}
@media screen and (min-width: 525px) and (max-width: 656px) {
  input {
    left: 51% !important;
  }
}
@media screen and (min-width: 525px) and (max-width: 767px) {
  body {
    background-color: #f2f5f9;
  }
  .head {
    background-color: #2d323e;
    position: relative;
    top: -15px;
  }
  header {
    margin: 15px 0 0 80px;
  }
  header h1 {
    margin-top: 10px;
  }
  header p {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #eeeeee;
  }
  header svg {
    position: absolute;
    right: 150px;
    z-index: 6;
    display: none;
  }
  header input {
    position: absolute;
    background-color: #424a59;
    border: 0px solid;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    padding: 5px;
    z-index: 5;
    top: 13px;
    left: 57%;
  }
  header a {
    position: absolute;
    z-index: 1;
    right: 150px;
    top: 15px;
  }
  header a .img {
    position: absolute;
    z-index: 1;
    right: -80px;
    top: -7px;
  }
  .content1 {
    background-color: #f2f5f9;
  }
  .content1 .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content1 .content .first-block {
    height: 500px;
    overflow: scroll;
    margin-bottom: 10px;
  }
  .content1 .content .first-block ul li:first-child {
    width: 87.5%;
  }
  .content1 .content .first-block ul li:first-child p {
    width: 70%;
    font-size: 9px;
    margin-top: 2px;
  }
  .content1 .content .first-block ul li:first-child a svg {
    width: 20px;
    height: 20px;
  }
  .content1 .content .first-block {
    width: 33%;
  }
  .content1 .content .first-block input {
    margin-left: 8px;
    outline: none;
    border: 0px solid;
    font-size: 11px;
    padding: 8px;
    min-width: 10%;
    max-width: 90%;
    width: 85%;
  }
  .content1 .content .first-block ul li .block-name p {
    width: 0px;
    margin: 0px 0px;
  }
  .content1 .content .first-block ul li .block-name img {
    width: 25px;
  }
  .content1 .content .first-block ul li .block-name h5 {
    font-size: 13px;
  }
  .content1 .content .first-block ul li .block-name .number {
    border: none;
  }
  .content1 .content .first-block ul li .block-name .number span {
    border: 1px solid;
    border-radius: 50px;
    padding: 3px;
    font-size: 10px;
    display: none;
  }
  .content1 .content .first-block ul li .block-name .line {
    width: 65%;
  }
  .content1 .content .first-block ul li .files {
    margin-left: 8px;
    margin-top: 5px;
  }
  .content1 .content .first-block ul li .files a svg {
    width: 18px;
    height: 18px;
  }
  .content1 .content .third-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 label span {
    width: 85%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 input {
    margin-left: -10%;
    padding: 10px;
  }
  .content1 .content .fourth-block {
    width: 33%;
  }
  .content1 .content .sixth-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label span {
    width: 85%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 input {
    margin-left: -10%;
    padding: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 524px) {
  body {
    background-color: #f2f5f9;
  }
  .button {
    left: 90%;
  }
  .enter {
    margin-left: -25px;
    font-size: 20px;
    top: -35px;
  }
  .reset {
    font-size: 20px;
    top: -60px;
  }
  .head {
    background-color: #2d323e;
    position: relative;
    top: -15px;
  }
  header {
    margin: 15px 0 0 80px;
  }
  header h1 {
    margin-top: 10px;
    margin-left: -30px;
  }
  header p {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #eeeeee;
  }
  header svg {
    display: none;
  }
  header input {
    position: absolute;
    background-color: #424a59;
    border: 0px solid;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    padding: 5px;
    z-index: 5;
    top: 15px;
    left: 55%;
    width: 120px;
    display: block !important;
  }
  header a {
    position: absolute;
    z-index: 1;
    right: 150px;
    top: 15px;
    display: none;
  }
  header a .img {
    position: absolute;
    z-index: 1;
    right: -80px;
    top: -7px;
  }
  .content1 {
    background-color: #eeeeee;
  }
  .content1 .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content1 .content .first-block {
    height: auto;
    float: none;
  }
  .content1 .content .first-block ul li:first-child {
    margin: 0;
    width: 95%;
    background-color: #eee;
    margin: 0 auto;
  }
  .content1 .content .first-block ul li:first-child p {
    width: 85%;
    font-size: 14px;
    color: #424a59;
  }
  .content1 .content .first-block ul li:first-child a svg {
    width: 20px;
    height: 20px;
    fill: #000000;
  }
  .content1 .content .first-block {
    width: 99%;
    margin: 0 auto;
  }
  .content1 .content .first-block input {
    margin-left: 0px;
    border: 0px solid;
    font-size: 14px;
    padding: 10px;
    min-width: 10%;
    max-width: 94%;
    width: 96%;
  }
  .content1 .content .first-block ul li .block-name {
    width: 100%;
    margin: 10px 0;
  }
  .content1 .content .first-block ul li .block-name .number {
    display: none;
  }
  .content1 .content .first-block ul li .block-name p {
    width: 0px;
    margin: 5px 3px;
  }
  .content1 .content .first-block ul li .block-name img {
    width: 25px;
  }
  .content1 .content .first-block ul li .block-name h5 {
    font-size: 15px;
  }
  .content1 .content .first-block ul li .block-name h4 {
    width: 0px;
  }
  .content1 .content .first-block ul li .block-name .number {
    border: none;
  }
  .content1 .content .first-block ul li .block-name .number span {
    border: 1px solid;
    border-radius: 50px;
    padding: 3px 7px;
    font-size: 14px;
    display: block;
  }
  .content1 .content .first-block ul li .block-name .line {
    width: 85%;
  }
  .content1 .content .first-block ul li .files {
    margin-left: 0px;
    margin-top: 5px;
    width: 100%;
  }
  .content1 .content .first-block ul li .files a svg {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }
  .content1 .content .third-block ul li .block-name2 label {
    width: 50%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 label span {
    width: 95%;
    font-size: 13px;
  }
  .content1 .content .third-block ul li .block-name2 input {
    margin-left: -5%;
    padding: 10px 15px;
  }
  .content1 .content .fourth-block {
    width: 100%;
  }
  .content1 .content .sixth-block ul li .block-name2 label {
    width: 50%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label span {
    width: 95%;
    font-size: 13px;
  }
  .content1 .content .sixth-block ul li .block-name2 input {
    margin-left: -5%;
    padding: 10px 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 451px) {
  header {
    margin: 15px 0 0 80px;
  }
  header svg {
    right: 90px;
  }
  header input {
    display: none;
  }
  header a {
    right: 50px;
  }
  header a .img {
    display: none;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .content1 .content .first-block ul li:first-child {
    width: 88.5%;
  }
  .content1 .content .first-block ul li:first-child p {
    width: 75%;
    font-size: 10px;
  }
  .content1 .content .first-block ul li:first-child a svg {
    width: 18px;
    height: 18px;
  }
  .content1 .content .first-block input {
    margin-left: 9px;
    padding: 8px;
    min-width: 10%;
    max-width: 100%;
    width: 86%;
  }
  .content1 .content .first-block ul li .block-name img {
    width: 15px;
  }
  .content1 .content .first-block ul li .block-name .number {
    border: none;
  }
  .content1 .content .first-block ul li .block-name .number span {
    border: 1px solid;
    border-radius: 50px;
    padding: 3px;
    font-size: 12px;
  }
  .content1 .content .first-block ul li .block-name .line {
    width: 80%;
  }
  .content1 .content .first-block ul li .files {
    width: 92%;
    margin-left: 8px;
  }
  .content1 .content .third-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .third-block ul li .block-name2 label span {
    width: 95%;
    font-size: 11px;
  }
  .content1 .content .third-block ul li .block-name2 input {
    margin-left: 20%;
    padding: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label {
    width: 14%;
    font-size: 10px;
  }
  .content1 .content .sixth-block ul li .block-name2 label span {
    width: 95%;
    font-size: 11px;
  }
  .content1 .content .sixth-block ul li .block-name2 input {
    margin-left: 20%;
    padding: 10px;
  }
}
